section#about-us
  div(class=prefix + '-about')
    div(class=prefix + '-wrapper ' + prefix + '-about__wrapper')
      div(class=prefix + '-about-info ' + prefix + '-about__info')
        +genTitle('sec', prefix + '-info', 'About us')
        p(class=prefix + '-desc ' + prefix + '-about-info__desc')
          span(class=prefix + '-desc__text') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem. Donec tincidunt id nulla a aliquet. Suspendisse diam tellus, porta et cursus ut, laoreet et odio. Vivamus risus sem, imperdiet sit amet neque ut, imperdiet volutpat est. In luctus odio ligula, a luctus magna finibus at. Donec non ligula sit amet sem accumsan ullamcorper nec ac neque.
      div(class=prefix + '-about-media ' + prefix + '-about__media')
        picture(class=prefix + '-about-media__pic')
          img(src="" alt="" class=prefix + '-about-media__img')
        picture(class=prefix + '-about-media__pic ' + prefix + '-about-media__pic--is-absoluted')
          img(src="" alt="" class=prefix + '-about-media__img')
