div(class=`${prefix}-about-media ${prefix}-about__media`)
  picture(class=`${prefix}-about-media__pic`)
    img(src="/img/" alt="" class=`${prefix}-about-media__img`)
  picture(class=`${prefix}-about-media__pic ${prefix}-about-media__pic--is-absoluted`)
    img(src="/img/" alt="" class=`${prefix}-about-media__img`)
