div(class=`${prefix}-media ${prefix}-about__media`)
  picture(class=`${prefix}-media__pic`)
    img(src="/img/" alt="" class=`${prefix}-media__img`)
  picture(class=`${prefix}-media__pic ${prefix}-media__pic--is-absolute`)
    img(src="/img/" alt="" class=`${prefix}-media__img`)
