div(class=`${prefix}-info ${prefix}-info--is-about ${prefix}-about__info`)
  p(class=`${prefix}-desc ${prefix}-info__desc`)
    span(class=`${prefix}-desc__text`) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem. Donec tincidunt id nulla a aliquet. Suspendisse diam tellus, porta et cursus ut, laoreet et odio. Vivamus risus sem, imperdiet sit amet neque ut, imperdiet volutpat est. In luctus odio ligula, a luctus magna finibus at. Donec non ligula sit amet sem accumsan ullamcorper nec ac neque.
