div(class=`${prefix}-subscribe ${prefix}-footer__subscribe`)
  +genTitle('', `${prefix}-subscribe`, 'Subscribe')
  form(class=`${prefix}-subscribe-form ${prefix}-subscribe__form`)
    input(class=`${prefix}-subscribe-form__email`)
    button(class=`${prefix}-subscribe-form__submit`) Subscribe
