article(class=`${prefix}-slide ${prefix}-projects__slide`)
  +genTitle('other', `${prefix}-slide`, 'Prototype')
  picture(class=`${prefix}-slide__pic`)
    img(src='/img/' alt='Project by me' class=`${prefix}-slide__img`)
