article(class=`${prefix}-teammate ${prefix}-list__teammate`)
  header(class=`${prefix}-teammate__header`)
    picture(class=`${prefix}-teammate__pic`)
      img(src="/img/" alt="" class=`${prefix}-teammate__img`)
    +genTitle('thd', `${prefix}-teammate`, 'Alexander Duma')
  p(class=`${prefix}-desc ${prefix}-teammate__desc`) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem.
  footer(class=`${prefix}-teammate__footer`)
    +genIconMenu('', `${prefix}-teammate`, '_blank')
