section(class=`${prefix}-banner ${prefix}-main__banner`)
  div(class=`u-${prefix}-wrapper ${prefix}-banner__wrapper`)
    div(class=`${prefix}-info ${prefix}-info--is-banner ${prefix}-banner__info`)
      include components/Info
    a(href='#about' class=`${prefix}-link ${prefix}-banner__link ${prefix}-btn--with-icon`)
      span(class=`${prefix}-btn__icon`)
