a(href=company.logo.url title=company.logo.urlTitle class=`${prefix}-link ${prefix}-link--is-logo ${prefix}-header__link ${prefix}-header__link--is-logo`)
  picture(class=`${prefix}-link__pic`)
    img(src='/img/sprite.svg#' + company.logo.fileName alt=company.logo.alt class=`${prefix}-link__img`)
