form(class=prefix + '-contacts-form ' + prefix + '-contacts__form')
    fieldset(class=prefix + '-contacts-form-field ' + prefix + '-contacts-form__field')
        label(for='userNameInput' class=prefix + '-contacts-form-field-title ' + prefix + '-contacts-form-field__title')
            span(class=prefix + '-contacts-form-field-title__text') Username:
        input#userNameInput(class=prefix + '-contacts-form-field__input' type='text' name='userName' required)
        