form(class=`${prefix}-contacts-form ${prefix}-contacts__form`)
    +genInput('text', 'userNameInput', 'Your name')
    +genInput('email', 'userEmailInput', 'Your email')
    +genInput('text', 'userSubjectInput', 'Your subject')
    +genInput('textarea', 'userTextArea', 'Your comments')
    +genInput('checkbox', 'userCheckInput', 'I agree with <a href="#">terms and conditions</a>', true)

    button(type='submit' class=`${prefix}-btn ${prefix}-btn--is-submit ${prefix}-contacts-form__btn ${prefix}-contacts-form__btn--is-submit`)
        span(class=`${prefix}-btn__text`) Send
