section#contacts
  div(class=`${prefix}-contacts`)
    div(class=`u-${prefix}-wrapper ${prefix}-contacts__wrapper`)
        +genTitle('sec', `contacts`, 'Contacts')
        +genTitle('thd', `contacts`, 'Lorem ipsum dolor sit amet')

        p(class=`${prefix}-contacts-desc ${prefix}-contacts__desc`)
            span(class=`${prefix}-contacts-desc__text`) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem.

        div(class=`${prefix}-contacts-bg ${prefix}-contacts__bg ${prefix}-contacts__bg--is-dark`)
            include ./components/ContactsForm
