include _vars
include _mixins
doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    +genMeta('viewport', 'width=device-width, initial-scale=1')
    block SEO
    each val, i in copyright
      +genMeta(i, val)
    +genLink('favicon.ico', 'shortcut icon')
    +genLink('styles', 'stylesheet')
  body
    div(class=prefix + '-page')
      header(class=prefix + '-header ' + prefix + '-page__header')
        include ../components/header/Index

      main(class=prefix + '-main ' + prefix + '-page__main')
        block Main

      footer(class=prefix + '-footer ' + prefix + '-page__footer')
        include ../components/footer/Index

    +genScript('app.min')
