include _vars
include _mixins
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        +genMeta('viewport', 'width=device-width, initial-scale=1')
        block SEO
        each val, i in copyright
          +genMeta(i, val)
        +genLink('favicon.ico', 'shortcut icon')
        +genLink('styles', 'stylesheet')
    body
        div(class=prefix + '-page')
            header.__header(class=prefix + '-header')
              .__wrapper(class=prefix + '-wrapper')
                include ../components/logo/Index
                +genMainMenu(menuBlocks, 'bl-header', true)

            main.__main(class=prefix + '-main')
              block Main

            footer.__footer(class=prefix + '-footer')
              .__wrapper(class=prefix + '-wrapper')
                .__upper
                  .__links(class=prefix + '-links')
                    +genTitle('', 'bel-links', 'Site links')
                    +genMainMenu(menuBlocks, 'bel-links', true)
                  .__subscribe(class=prefix + '-subscribe')
                    +genTitle('', 'bl-subscribe', 'Subscribe')
                    form.__form(class=prefix + '-subscribe-form')
                      input.__email
                      button.__submit
                  .__info(class=prefix + '-info')
                    +genTitle('', 'bl-info', 'Contact')
                    .__text 624 Green Ave, Suite 123 New York, CA 84104
                    +genIconMenu(menuSocials, 'bel-info', '_blank')

                .__lower
                  .__copyright(class=prefix + '-copyright') © 2018 Company. Tagline lorem ipsum dolor sit amet, consectetur adipiscing eiusmod
                  +genMainMenu(menuPolicy, 'bl-footer')

        +genScript('libs.min')
        +genScript('app.min')
